<a href="https://colab.research.google.com/github/zoranlukovic/Obuka/blob/main/Copy_of_3_6_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Rezultati takmičenja

In [10]:
import pandas as pd

In [11]:
Rezultati = [[1, "Una",    "Zorić",      "Ž", 161, 45, 16.32, 1.21, 25],
             [2, "Marta",  "Stanojević", "Ž", 165, 53, 15.44, 1.01, 16],
             [3, "Ognjen", "Novaković",  "M", 171, 64, 14.56, 1.10, 5],
             [4, "Petra",  "Kaličanin",  "Ž", 159, 48, 16.98, 0.89, 21],
             [5, "Novak",  "Đorđević",   "M", 175, 67, 15.01, 1.32, 28],
             [6, "Đurđe",  "Martać",     "M", 178, 65, 16.25, 1.18, 25],
             [7, "Kalina", "Ognjenović", "Ž", 170, 62, 14.38, 0.95, 25],
             [8, "Vanja",  "Čolović",    "M", 181, 72, 14.55, 0.98, 26]]

In [12]:
TabelaRezultata = pd.DataFrame(Rezultati)
TabelaRezultata.columns = ["R. br.", "Ime", "Prezime", "Pol", "Visina", 
                           "Težina", "Trka100", "Skok udalj", "Čučnjevi"]

In [17]:
TabelaRezultata.sort_values("Trka100", ascending=False)

,R. br.,Ime,Prezime,Pol,Visina,Težina,Trka100,Skok udalj,Čučnjevi
3,4,Petra,Kaličanin,Ž,159,48,16.98,0.89,21
0,1,Una,Zorić,Ž,161,45,16.32,1.21,25
5,6,Đurđe,Martać,M,178,65,16.25,1.18,25
1,2,Marta,Stanojević,Ž,165,53,15.44,1.01,16
4,5,Novak,Đorđević,M,175,67,15.01,1.32,28
2,3,Ognjen,Novaković,M,171,64,14.56,1.10,5
7,8,Vanja,Čolović,M,181,72,14.55,0.98,26
6,7,Kalina,Ognjenović,Ž,170,62,14.38,0.95,25